In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [13]:
df = pd.read_csv('55.csv')
df.head

<bound method NDFrame.head of             x1        x2
0     1.503248  1.002396
1     1.609720  0.922781
2     1.722680  0.877581
3     1.847592  0.852639
4     1.974888  0.815322
...        ...       ...
1996  0.000061  1.416932
1997  0.000063  1.279456
1998  0.000066  1.157839
1999  0.000071  1.054791
2000  0.000078  0.953834

[2001 rows x 2 columns]>

In [14]:
length = len(df)
df['time'] = [i*0.1 for i in range(length)]
df

            x1        x2   time
0     1.503248  1.002396    0.0
1     1.609720  0.922781    0.1
2     1.722680  0.877581    0.2
3     1.847592  0.852639    0.3
4     1.974888  0.815322    0.4
...        ...       ...    ...
1996  0.000061  1.416932  199.6
1997  0.000063  1.279456  199.7
1998  0.000066  1.157839  199.8
1999  0.000071  1.054791  199.9
2000  0.000078  0.953834  200.0

[2001 rows x 3 columns]

In [15]:
df['x1_sq'] = df['x1']**2
df['x2_sq'] = df['x2']**2
df['x1*x2'] = df['x1']*df['x2']
df['bias'] = np.ones(len(df))
df

            x1        x2   time         x1_sq     x2_sq     x1*x2  bias
0     1.503248  1.002396    0.0  2.259754e+00  1.004798  1.506850   1.0
1     1.609720  0.922781    0.1  2.591199e+00  0.851526  1.485420   1.0
2     1.722680  0.877581    0.2  2.967627e+00  0.770149  1.511792   1.0
3     1.847592  0.852639    0.3  3.413595e+00  0.726993  1.575328   1.0
4     1.974888  0.815322    0.4  3.900183e+00  0.664750  1.610170   1.0
...        ...       ...    ...           ...       ...       ...   ...
1996  0.000061  1.416932  199.6  3.684490e-09  2.007697  0.000086   1.0
1997  0.000063  1.279456  199.7  3.931290e-09  1.637008  0.000080   1.0
1998  0.000066  1.157839  199.8  4.303360e-09  1.340592  0.000076   1.0
1999  0.000071  1.054791  199.9  5.055210e-09  1.112585  0.000075   1.0
2000  0.000078  0.953834  200.0  6.130890e-09  0.909799  0.000075   1.0

[2001 rows x 7 columns]

In [16]:
df['d_x1'] = np.nan
df['d_x2'] = np.nan

for i in range(1, len(df) - 1):
    df.at[i, 'd_x1'] = (df.at[i + 1, 'x1'] - df.at[i - 1, 'x1']) / 0.2

for i in range(1, len(df) - 1):
    df.at[i, 'd_x2'] = (df.at[i + 1, 'x2'] - df.at[i - 1, 'x2']) / 0.2

print(df.head())
print(df.tail())

         x1        x2  time     x1_sq     x2_sq     x1*x2  bias      d_x1  \
0  1.503248  1.002396   0.0  2.259754  1.004798  1.506850   1.0       NaN
1  1.609720  0.922781   0.1  2.591199  0.851526  1.485420   1.0  1.097162
2  1.722680  0.877581   0.2  2.967627  0.770149  1.511792   1.0  1.189358
3  1.847592  0.852639   0.3  3.413595  0.726993  1.575328   1.0  1.261040
4  1.974888  0.815322   0.4  3.900183  0.664750  1.610170   1.0  1.339660

       d_x2
0       NaN
1 -0.624075
2 -0.350714
3 -0.311296
4 -0.305371
            x1        x2   time         x1_sq     x2_sq     x1*x2  bias  \
1996  0.000061  1.416932  199.6  3.684490e-09  2.007697  0.000086   1.0
1997  0.000063  1.279456  199.7  3.931290e-09  1.637008  0.000080   1.0
1998  0.000066  1.157839  199.8  4.303360e-09  1.340592  0.000076   1.0
1999  0.000071  1.054791  199.9  5.055210e-09  1.112585  0.000075   1.0
2000  0.000078  0.953834  200.0  6.130890e-09  0.909799  0.000075   1.0

          d_x1      d_x2
1996  0.000021 -1.492848
1997  0.000024 -1.295465
1998  0.000042 -1.123323
1999  0.000064 -1.020027
2000       NaN       NaN

In [17]:
df = df.iloc[1:-1]
df

,x1,x2,time,x1_sq,x2_sq,x1*x2,bias,d_x1,d_x2
1,1.609720,0.922781,0.1,2.591199e+00,0.851526,1.485420,1.0,1.097162,-0.624075
2,1.722680,0.877581,0.2,2.967627e+00,0.770149,1.511792,1.0,1.189358,-0.350714
3,1.847592,0.852639,0.3,3.413595e+00,0.726993,1.575328,1.0,1.261040,-0.311296
4,1.974888,0.815322,0.4,3.900183e+00,0.664750,1.610170,1.0,1.339660,-0.305371
5,2.115524,0.791564,0.5,4.475440e+00,0.626574,1.674573,1.0,1.466078,-0.146759
...,...,...,...,...,...,...,...,...,...
1995,0.000059,1.578026,199.5,3.433960e-09,2.490165,0.000092,1.0,0.000017,-1.632826
1996,0.000061,1.416932,199.6,3.684490e-09,2.007697,0.000086,1.0,0.000021,-1.492848
1997,0.000063,1.279456,199.7,3.931290e-09,1.637008,0.000080,1.0,0.000024,-1.295465
1998,0.000066,1.157839,199.8,4.303360e-09,1.340592,0.000076,1.0,0.000042,-1.123323
1999,0.000071,1.054791,199.9,5.055210e-09,1.112585,0.000075,1.0,0.000064,-1.020027

In [18]:
X = df[['x1','x2','x1_sq','x2_sq','x1*x2','bias']]
y1 = df['d_x1']

X_train, X_test, y_train_1, y_test_1 = train_test_split(X, y1, test_size=0.2, shuffle = False)

model = LinearRegression()

model.fit(X_train, y_train_1)

predictions = model.predict(X_test)

mse = mean_squared_error(y_test_1, predictions)
print("Mean Squared Error:", mse)

print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Mean Squared Error: 2.4293235868712015
Coefficients: [ 1.34740935  0.06740383 -0.00337454 -0.02093389 -0.66900527  0.        ]
Intercept: -0.03599755175522309

In [19]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test_1, predictions)
print("R^2 Score:", r2)

R^2 Score: 0.9908639299013531

In [20]:
X = df[['x1','x2','x1_sq','x2_sq','x1*x2','bias']]
y2 = df['d_x2']

X_train, X_test, y_train_2, y_test_2 = train_test_split(X, y2, test_size=0.2, shuffle = False)

model = LinearRegression()

model.fit(X_train, y_train_2)

predictions = model.predict(X_test)

mse = mean_squared_error(y_test_2, predictions)
print("Mean Squared Error:", mse)

print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Mean Squared Error: 0.7432129005628734
Coefficients: [ 9.65582176e-04 -1.02503630e+00  1.24999491e-03  7.85638324e-03
  3.38765890e-01  0.00000000e+00]
Intercept: -0.008382759426311677

In [21]:
from sklearn.metrics import r2_score
r2 = r2_score(y_test_2, predictions)
print("R^2 Score:", r2)

R^2 Score: 0.9899226580856343

In [22]:
X = df[['x1','x2','x1_sq','x2_sq','x1*x2','bias']]
y1 = df['d_x1']

X_train, X_test, y_train_1, y_test_1 = train_test_split(X, y1, test_size=0.15, shuffle = False)

model = LinearRegression()

model.fit(X_train, y_train_1)

predictions = model.predict(X_test)

mse = mean_squared_error(y_test_1, predictions)
print("Mean Squared Error:", mse)

print("Coefficients:", model.coef_)
print("Intercept:", model.intercept_)

Mean Squared Error: 2.725083767467802
Coefficients: [ 1.32929324  0.05091683 -0.00174631 -0.01874082 -0.66687342  0.        ]
Intercept: -0.006190398793139272